@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: skyblue;
  color: #333;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h1, h2, h3 {
  font-family: 'Gabriela', serif;
  color: #333;
}
p {
  font-size: 1.2rem;
  line-height: 1.5;
}
button {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

/* Country capital city qyestions */
h1 {
  font-family: 'Gabriela', serif;
  font-size: 2rem;
  margin-bottom: 20px;
}
p {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.hidden ul li {
  list-style-type: none;
  font-size: larger;
}
.question-container {
    display: none; /* Hide all questions initially */
}

#first-question {
    display: block; /* Keep only the first question visible */
}

/* Currect answer */
.correct-answer {
    font-weight: bold;
    color: green;
    display: none; /* Hide until checkbox is clicked */
}
/* Incorrect answer */
.incorrect-answer {
    font-weight: bold;
    color: red;
    display: none; /* Hide until checkbox is clicked */
}

/* Fun facts section */
.hidden-answer {
    display: block; /* Ensure it's hidden initially */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#fun-facts-section{
  font-size: 1.1rem; /* Increases font size */
  margin-top: 20px; /* Adds space above the fun facts section */
}
#fun-facts-section li {
    margin-bottom: 10px; /* Adds space between list items */
    font-size: 1.3rem; /* Increases font size */
    line-height: 1.2; /* Increases line height for better readability */
}


ol li {
    margin-bottom: 10px; /* Adds space between list items */
    font-size: 1rem; /* Increases font size */
    line-height: 1.5; /* Increases line height for better readability */

}

/* Footer */
footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.5rem;
  color: #666;
}
